@model IEnumerable<Курсач.Models.Containers>

<div class="all-container">
    <div class="app-container__">
        @foreach (var item in Model)
        {
        <div class="flex-item">
            <div class="card-content">
                <div class="card-title">ID: @item.ID</div>
                <div class="card-type">Тип: @item.container</div>
                <div class="progress-info">Зібрано: @item.currentProgres <br />Залишилося зібрати: @item.endProgres - @item.currentProgres</div>
            </div>
            <a href="@Url.Action("Details", "Containers", new { id = item.ID })" class="details-link">Детальніше</a>

        </div>
        }
    </div>
</div>

<style>
   

    .all-container {
        padding: 64px;
        width: calc(100% - 128px);
        margin: 20px auto;
    }

    .app-container__ {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: -15px;
        overflow: hidden;
        margin-left: -15px;
    }

    .flex-item {
        box-sizing: border-box;
        flex: 0 0 calc(33.33% - 30px);
        margin: 15px;
        border: 1px solid #ccc;
        padding: 10px;
        position: relative;
        overflow: hidden;
        transition: background-color 0.3s ease-in-out;
    }

        .flex-item:hover {
            background-color: #f8f9fa; /* Змініть на колір, який вам подобається */
        }

    .card-content {
        text-align: center;
        position: relative;
        z-index: 0; /* Розміщуємо контент поверх кнопки */
    }

    .card-title {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-type {
        font-style: italic;
        margin-bottom: 10px;
    }

    .progress-info {
        margin-bottom: 20px;
    }

    .details-link {
        bottom: 10px;
        text-decoration: none;
        color: red;
        font-weight: 600;
        padding: 10px;
        border: 1px solid red;
        border-radius: 10px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        opacity: 0;
        z-index: 2; /* Розміщуємо кнопку поверх контенту */
    }

    .flex-item:hover .details-link {
        opacity: 1;
    }

    .details-link:hover {
        background-color: red;
        color: white;
    }
</style>
