@model Курсач.Models.NonActiveContainers

@{
    ViewData["Title"] = "Деталі";
}

<div class="container mt-4">
    <h1 class="text-center">Деталі</h1>
    <div>
        <h4>Неактивні контейнери</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PersonId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PersonId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataStart)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataStart)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataEnd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.currentProgres)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.currentProgres)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.endProgres)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.endProgres)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataAdd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataAdd)
            </dd>
        </dl>
    </div>
    <div class="text-center mt-3">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Редагувати</a> |
        <a asp-action="Index" class="btn btn-secondary">Повернутися до списку</a>
        <a asp-controller="NonActiveContainers" asp-action="TransferData" asp-route-nonActiveContainerId="@Model.ID" class="btn btn-success">Accept containers</a>


    </div>
</div>
