@model IEnumerable<Курсач.Models.NonActiveContainers>

@{
    ViewData["Title"] = "Індекс";
}

<h1>Індекс</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currentProgres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endProgres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAdd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currentProgres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endProgres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Видалити</a>
            </td>
        </tr>
        }
    </tbody>
</table>
