@model Курсач.Models.User

@{
    ViewData["Title"] = "Видалення";
}

<div class="container mt-4">
    <h1 class="text-center">Видалення користувача</h1>
    <div class="card">
        <div class="card-body">
            <h3>Ви впевнені, що хочете видалити цього користувача?</h3>
            <h4>Користувач</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.name)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.surname)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.surname)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.email)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.email)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.age)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.age)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.role)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.role)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.password)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.password)
                </dd>
            </dl>

            <form asp-action="Delete" class="mt-3">
                <input type="hidden" asp-for="ID" />
                <button type="submit" class="btn btn-danger">Видалити</button> |
                <a asp-action="Index" class="btn btn-secondary">Повернутися до списку</a>
            </form>
        </div>
    </div>
</div>
