@model Курсач.Models.User

@{
    ViewData["Title"] = "Деталі";
}

<div class="container mt-4">
    <h1 class="text-center">Деталі користувача</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Користувач</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.name)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.surname)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.surname)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.email)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.email)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.age)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.age)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.role)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.role)
                </dd>
                <dt class="col-sm-3">
                    <strong>@Html.DisplayNameFor(model => model.password)</strong>
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.password)
                </dd>
            </dl>
        </div>
    </div>
    <div class="text-center mt-3">
        @*<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Редагувати</a> |*@
        <a asp-action="Index" class="btn btn-secondary">Повернутися до списку</a>
    </div>
</div>
