@model Курсач.Models.News

@{
    ViewData["Title"] = "Details";
}

<style>

    .image-container {
        position: relative;
    }

        .image-container img {
            width: 100%;
            height: 100vh;
            object-fit: cover; 
        }

    .title-container {
        text-align: center;
        margin-top: 20px;
    }

    .date {
        font-size: 16px;
        margin-top: 10px;
    }

    .additional-images {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

        .additional-images img {
            width: calc(30% - 10px);
            height: 200px; /* Або будь-яка інша висота, яку ви хочете встановити */
            object-fit: cover;
        }

    .description {
        margin-top: 20px;
        font-size: 18px;
    }
</style>

<div class="app-container">

    <div class="image-container">
        @if (!string.IsNullOrEmpty(Model.mainImg))
        {
            <img src="@Model.mainImg" alt="Main Image" />
        }
    </div>


    <div class="title-container">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <p class="date">@Html.DisplayFor(model => model.Add)</p>
    </div>

    <div class="description">
        <p>@Html.DisplayFor(model => model.text)</p>
    </div>

    <div class="additional-images">
        @if (!string.IsNullOrEmpty(Model.img2))
        {
            <img src="@Model.img2" alt="Image 2" />
        }

        @if (!string.IsNullOrEmpty(Model.img3))
        {
            <img src="@Model.img3" alt="Image 3" />
        }
    </div>

    <div class="description">
        @if (!string.IsNullOrEmpty(Model.text2))
        {
            <p>@Html.DisplayFor(model => model.text2)</p>
        }

        @if (!string.IsNullOrEmpty(Model.text3))
        {
            <p>@Html.DisplayFor(model => model.text3)</p>
        }
    </div>
</div>