@model IEnumerable<Курсач.Models.News>

@{
    ViewData["Title"] = "Index";
}

<style>
    .truncate-text {
        max-width: 200px; /* Задайте максимальну ширину, яка підходить для вас */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mainImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.text2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.text3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Add)
                </td>
                <td class="truncate-text">
                    @Html.DisplayFor(modelItem => item.text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mainImg)
                </td>
                <td class="truncate-text">
                    @Html.DisplayFor(modelItem => item.text2)
                </td>
                <td class="truncate-text">
                    @Html.DisplayFor(modelItem => item.text3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.img2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.img3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
